.wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.bayItem {
  width: 885px;
  display: flex;
  flex-wrap: wrap;
}

.items {
  display: flex;
  justify-content: flex-start;
}

.picture {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;

  }

  &__container {
    margin: 0 0 5px 5px;
    width: 290px;
    height: 300px;
    position: relative;

    mat-checkbox {
      top: 5px;
      left: 5px;
      position: absolute;
    }

    .deleteItem {
      position: absolute;
      left: -10px;
    }
  }

  .price {
    width: 65px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 220px;
    background-color: #82b440;
    border-radius: 5px;

    p {
      margin: 5px 0 0 0;
      text-align: center;
      color: white;
      font-size: 15px;
    }
  }

}

.buyBlock {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .subtotal {
    height: 220px;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    background-color: #673ab7;

    &_wrapper {
      margin-top: 25px;
      height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

    }

    .descr {
      font-size: 25px;
      color: white;
    }
    .sumItems {
      text-align: center;
      color: white;
      font-size: 40px;
    }
    button {
      width: 170px;
    }
  }

  .promoWrapper {
    height: 75px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #673ab7;
    border-radius: 5px;
    .promo {
      .promocodeInput {
        color: white;
        width: 150px;
        height: 45px;
        border-radius: 5px;
      }
      p {
        margin-top: 5px;
        font-size: 12px;
        color: white;
      }
    }
    button {
      height: 50px;
    }
  }

}

.empty {
  margin: 0 auto;
  p {
    font-size: 25px;
  }
}










