<!--<button (click)="log()">log</button>-->
<div class="container">
  <div class="header">
    <button mat-raised-button color="primary">Filters</button>
    <h1>Internet shop wallpapers</h1>
    <button routerLink="/cart" mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="wrapper">
    <div class="parameters"></div>
    <div class="bayItem">
      <div class="picture" *ngFor="let p of picture; let idx = index">
        <div class="picture__container" *ngIf="idx < 9">

          <mat-checkbox
            color="primary"
            [(ngModel)]="p.isChecked"
            (change)="changeStatus(p)"
          ></mat-checkbox>
          <img src={{p.urls.small}} alt="#">
        </div>
      </div>
    </div>
  </div>
</div>

